@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');

body{
    background-color: #1ec36dd9;
    font-family:'Libre Calson';
    display: flex;
    align-items: center;
    justify-content: center;
    /*min-height: 100vh;*/
    margin: 0;
}
.container{
    margin-top: 25px;
    background-color: aliceblue;
    width: 450px;
    height: 709px;
    max-width: 100%;
    border-radius: 7px;
}
.header{
    background-color: aliceblue;
    border-bottom: 1px solid darkslategrey;
    padding: 15px 40px;
}
.header h2{
    margin: 0;
    text-align: center;
    font-size: 30px;
}
.formulaire{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 6px;
    padding-bottom: 10px;
    position: relative;
}
.desc{
    margin-bottom: 6px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    font-size: 20px;
    font-family: 'Libre Calson';
}
.desc label{
    font-size: 20px;
}
.form-control input,select{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    display: block;
    font-family: 'Libre Calson';
    border:2px solid #f0f0f0;
    font-size: 16px;
}
.desc input{
    height: 80px;
    width: 100%;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    border:2px solid #f0f0f0;
    font-size: 16px;
}

.formulaire b{
    color: red;
}
.formulaire button{
    margin-top: 11px;
    background-color: #1ec36dd9;
    color: #f0f0f0;
    width: 100%;
    height: 40px;
    border: 2px solid #1ec36dd9;
    border-radius: 5px;
    font-size: 19px;
}
.formulaire p{
    padding-top: 35px;
    font-size: 17px;
}
.formulaire p a{
    color:#1ec36dd9;
}